.memberList{
    border-bottom: 1px solid grey;
    margin-block: 10px;
    padding-inline: 5px;
    padding-block: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}