.blue{
    border: none;
    background: #678783;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    color: white;
    cursor: pointer;
    padding-block: 5px;
    padding-inline: 10px;
    margin-block-start: 5px;
    user-select: none;
}
.red{
    border: none;
    background: red;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    color: white;
    cursor: pointer;
    padding-block: 5px;
    padding-inline: 10px;
    margin-block-start: 5px;
    user-select: none;
}